* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    color: #3c3c3c;
}

body, html {
    overflow-x: hidden
}

body, button, input, textarea, select {
    font: 12px/1.5 tahoma, arial, 'Hiragino Sans GB', '\5b8b\4f53', sans-serif;
}

body {
    background-color: #f4f4f4;
    color: #3c3c3c;
}

.wrapper {
    width: 100%;
}

/*顶部导航*/
.wrapper .top-nav .top-nav-wrap {
    width: 100%;
    height: 35px;
    background-color: #f5f5f5;
    border-bottom: 1px solid #eee;
}

.wrapper .top-nav .top-nav-wrap .top-nav-center {
    width: 1190px;
    height: 35px;
    /*margin-top: 0;*/
    /*margin-right: auto;*/
    margin: 0 auto;
}

/*左侧菜单*/
.wrapper .top-nav .top-nav-wrap .top-nav-center .top-nav-ul-l {
    list-style: none;
    float: left;

}

.wrapper .top-nav .top-nav-wrap .top-nav-center .top-nav-ul-l .top-nav-li-l {
    display: inline-block;
    line-height: 35px;
    margin-right: 16px;
}
/*注册登录的块的inline-block设置，使其在一行*/
.wrapper .top-nav .top-nav-wrap .top-nav-center .top-nav-ul-l .top-nav-li-l a:hover{
    color:#ff5000;
}

.wrapper .top-nav .top-nav-wrap .top-nav-center .top-nav-ul-l .top-nav-li-l .address{
    width: 79px;
    height: 35px;
    line-height: 35px;
    position: relative;

}

.wrapper .top-nav .top-nav-wrap .top-nav-center .top-nav-ul-l .top-nav-li-l .address:hover {
    background-color: #ffffff;
}


.wrapper .top-nav .top-nav-wrap .top-nav-center .top-nav-ul-l .top-nav-li-l .address .address-span {
    padding: 6px;
    position: relative;
}


.wrapper .top-nav .top-nav-wrap .top-nav-center .top-nav-ul-l .top-nav-li-l .address .arrow-img {
    /*width: 2px;*/
    /*height: 2px;*/
    display: inline-block;
    margin-left: 3px;
    /*position: absolute;*/
    /*float: left;*/
    /*background-image: url(/static/resources/favicon.ico);*/
}

.wrapper .top-nav .top-nav-wrap .top-nav-center .top-nav-ul-l .top-nav-li-l .address .arrow-img img{
    /*display: inline;*/
    width: 10px;
    height:10px;
}
.wrapper .top-nav .top-nav-wrap .top-nav-center .top-nav-ul-l .top-nav-li-l .login a{
        color: #ff5000;
}

.wrapper .top-nav .top-nav-wrap .top-nav-center .top-nav-ul-l .top-nav-li-l .login {
    display: inline-block;

}

.wrapper .top-nav .top-nav-wrap .top-nav-center .top-nav-ul-l .top-nav-li-l .register {
    display: inline-block;
}

/*右侧菜单*/
.wrapper .top-nav .top-nav-wrap .top-nav-center .top-nav-ul-r {
    list-style: none;
    float: right;


}

.wrapper .top-nav .top-nav-wrap .top-nav-center .top-nav-ul-r .top-nav-li-r {
    display: inline-block;
    line-height: 35px;
    margin-right: 2px;
}
.wrapper .top-nav .top-nav-wrap .top-nav-center .top-nav-ul-r .top-nav-li-r .my-taobao {
    width: 79px;
    height: 35px;
}
.wrapper .top-nav .top-nav-wrap .top-nav-center .top-nav-ul-r .top-nav-li-r .my-taobao:hover {
    background-color: #ffffff;
}

.wrapper .top-nav .top-nav-wrap .top-nav-center .top-nav-ul-r .top-nav-li-r .my-taobao a{
    margin-left: 7px;
}

.wrapper .top-nav .top-nav-wrap .top-nav-center .top-nav-ul-r .top-nav-li-r .my-taobao .arrow{
    display: inline-block;
    margin-left: 3px;

}

.wrapper .top-nav .top-nav-wrap .top-nav-center .top-nav-ul-r .top-nav-li-r .my-taobao .arrow img{
    /*display: inline;*/
    width: 10px;
    height: 10px;
}

.wrapper .top-nav .top-nav-wrap .top-nav-center .top-nav-ul-r .top-nav-li-r a:hover{
    color:#ff5000;
}
/*以上line-height是为了使其字体居中*/
.wrapper .top-nav .top-nav-wrap .top-nav-center .top-nav-ul-r .top-nav-li-r .shop{
    width: 84px;
    height: 35px;

}

.wrapper .top-nav .top-nav-wrap .top-nav-center .top-nav-ul-r .top-nav-li-r .shop .shop-img img{
    width: 14px;
    height: 14px;

    margin-left: 6px;
}
.wrapper .top-nav .top-nav-wrap .top-nav-center .top-nav-ul-r .top-nav-li-r .shop a{
    margin-left: 3px;
}
.wrapper .top-nav .top-nav-wrap .top-nav-center .top-nav-ul-r .top-nav-li-r .shop .arrow-img{
    /*position: absolute;*/
    display: inline-block;
    margin-left: 3px;

}
.wrapper .top-nav .top-nav-wrap .top-nav-center .top-nav-ul-r .top-nav-li-r .shop .arrow-img img{
    /*position: absolute;*/
    width: 10px;
    height: 10px;

}

.wrapper .top-nav .top-nav-wrap .top-nav-center .top-nav-ul-r .top-nav-li-r .like{
    width: 84px;
    height: 35px;

}

.wrapper .top-nav .top-nav-wrap .top-nav-center .top-nav-ul-r .top-nav-li-r .like:hover{
    background-color: #ffffff;


}
.wrapper .top-nav .top-nav-wrap .top-nav-center .top-nav-ul-r .top-nav-li-r .like:hover .like-img{
    filter:alpha(Opacity=100);-moz-opacity:1;opacity: 1
}
.wrapper .top-nav .top-nav-wrap .top-nav-center .top-nav-ul-r .top-nav-li-r .like .like-img{
    display: inline-block;
}
.wrapper .top-nav .top-nav-wrap .top-nav-center .top-nav-ul-r .top-nav-li-r .like .like-img img{
    width: 14px;
    height: 12px;
    margin-left: 6px;
    padding-top: 10px;
    filter:alpha(Opacity=70);-moz-opacity:0.7;opacity: 0.7

}
.wrapper .top-nav .top-nav-wrap .top-nav-center .top-nav-ul-r .top-nav-li-r .like .arrow-img{
    display: inline-block;
    margin-left: 3px;
}
.wrapper .top-nav .top-nav-wrap .top-nav-center .top-nav-ul-r .top-nav-li-r .like .arrow-img img {
    width: 10px;
    height: 10px;
}
.wrapper .top-nav .top-nav-wrap .top-nav-center .top-nav-ul-r .top-nav-li-r .shop-class{
    display: inline-block;
    width: 5px;
    height: 35px;
    line-height: 35px;
    margin-left: 10px;

}
.wrapper .top-nav .top-nav-wrap .top-nav-center .top-nav-ul-r .top-nav-li-r .sell-center{
    width: 79px;
    height: 35px;
}
.wrapper .top-nav .top-nav-wrap .top-nav-center .top-nav-ul-r .top-nav-li-r .sell-center:hover{
    background-color: #ffffff;
}

.wrapper .top-nav .top-nav-wrap .top-nav-center .top-nav-ul-r .top-nav-li-r .sell-center a{
    margin-left: 6px;
}


.wrapper .top-nav .top-nav-wrap .top-nav-center .top-nav-ul-r .top-nav-li-r .sell-center .arrow-img img{
    width: 10px;
    height: 10px;
    margin-left: 3px;
}
.wrapper .top-nav .top-nav-wrap .top-nav-center .top-nav-ul-r .top-nav-li-r .contacts{
    width: 79px;
    height: 35px;
}
.wrapper .top-nav .top-nav-wrap .top-nav-center .top-nav-ul-r .top-nav-li-r .contacts:hover{
    background-color: #ffffff;
}

.wrapper .top-nav .top-nav-wrap .top-nav-center .top-nav-ul-r .top-nav-li-r .contacts a{
    margin-left: 6px;
}
.wrapper .top-nav .top-nav-wrap .top-nav-center .top-nav-ul-r .top-nav-li-r .contacts .arrow-img img{
    margin-left: 3px;
    width: 10px;
    height: 10px;
}

.wrapper .top-nav .top-nav-wrap .top-nav-center .top-nav-ul-r .top-nav-li-r .site-nav{
    width: 96px;
    height: 35px;

}

.wrapper .top-nav .top-nav-wrap .top-nav-center .top-nav-ul-r .top-nav-li-r .site-nav:hover{
    background-color: #ffffff;

}


.wrapper .top-nav .top-nav-wrap .top-nav-center .top-nav-ul-r .top-nav-li-r .site-nav .like-img img{
    width: 14px;
    height: 12px;
    margin-left: 6px;
    padding-top: 10px;


}
.wrapper .top-nav .top-nav-wrap .top-nav-center .top-nav-ul-r .top-nav-li-r .site-nav .arrow-img img{
    margin-left: 3px;
    width: 10px;
    height: 10px;
}

/*搜索栏*/
.search{
    width: 100%;
    height: 121px;
    background-color: #ffffff;
}
.search .search-wrap{
    width: 100%;
    height:97px;
    padding-top: 24px;

}
.search .search-wrap .search-wrap-center{
    width: 1190px;
    height: 88px;
    margin: 0 auto;
    border: 1px solid #f4f4f4;
}
        /*左侧logo*/
.search .search-wrap .search-wrap-center .logo{
    width: 190px;
    height: 100%;
    position: relative;
    float: left;
}

.search .search-wrap .search-wrap-center .logo .logo-img{
    width: 190px;
    height: 80px;
    margin-top: 8px;

}
.search .search-wrap .search-wrap-center .logo .logo-img h1{
    display: inline-block;
    width: 190px;
    height: 58px;
}

.search .search-wrap .search-wrap-center .logo .logo-img img{
    margin: 0 auto;
    height: 58px;
    margin-left: 22px;
}
        /*中间search主体*/
.search .search-wrap .search-wrap-center .search-content{
    /*width: 630px;*/
    /*height: 87px;*/
    margin-left: 258px;
    margin-right:  302px;
    border: 1px solid #000000;
}
.search .search-wrap .search-wrap-center .search-content .search-content-wrap{
    position: relative;
}
.search .search-wrap .search-wrap-center .search-content .search-content-wrap .search-tab{
    width: 100%;
    height: 22px;
    /*border: 1px solid #000000;*/
}

.search .search-wrap .search-wrap-center .search-content .search-content-wrap .search-tab .list{
    margin-left: 17px;
    /*border: 1px solid #000000;*/
}
.search .search-wrap .search-wrap-center .search-content .search-content-wrap .search-tab .list .list-ul{
    list-style: none;

}

.search .search-wrap .search-wrap-center .search-content .search-content-wrap .search-tab .list .list-ul .list-ul-li {
    float: left;
    margin-right:14px;
    line-height: 22px;
}

.search .search-wrap .search-wrap-center .search-content .search-content-wrap .search-tab .list .list-ul .list-ul-li.select {
    background-image: linear-gradient(to right,#ff9000 0,#ff5000 100%);
    width: 36px;
    height: 22px;
    line-height: 22px;
    margin-right: 4px;
    text-align: center;
    border-top-right-radius: 6px;
border-top-left-radius: 6px;
    color: #ffffff;
    font-weight: 700;

}


/*导航栏*/






/*内容栏*/